<div class="row">
	<div class="large-12 medium-12 small-12 columns">
			<div class="row">
				<div class="large-12 medium-12 small-12 columns">
    			<input type="text" placeholder="Name" />
  			</div>
			</div>
			<div class="row">
				<div class="large-12 medium-12 small-12 columns">
					<input type="text" placeholder="Phone" />
				</div>
				<div class="large-12 medium-12 small-12 columns">
					<input type="text" placeholder="Address" />
				</div>
			</div>
			
			<a href="#/view1" class="button large-5 medium-5 small-5 columns">Ok</a>
			<a href="#/view1" class="button large-5 medium-5 small-5 columns">Cancel</a>
	</div>
</div>
