<div class="row">
	<div class="large-24 medium-24 small-24 columns">
		<input type="text" placeholder="Search">
	</div>
</div>

<div class="row">
	<div class="large-24 medium-24 small-24 columns">
	  <div class="panel">
	    <h5>Arlindo</h5>
	    <p>34 888 8888</p>
	    <p>34 Marcy Av - Williansburg</p>
	  </div>
		<div class="panel">
	    <h5>Arlindo</h5>
	    <p>34 888 8888</p>
	    <p>34 Marcy Av - Williansburg</p>
	  </div>
	  
	  <a href="#/form" class="button">Add a new contact</a>
	</div>
</div>
