<div class="row">
	<div class="large-24 medium-24 small-24 columns">
		<input type="text" placeholder="Search" ng-model="query">
	</div>
</div>

<div class="row">
	<div class="large-24 medium-24 small-24 columns">
	  <div class="panel" ng-repeat="contact in contacts | filter:query">
	    <h5>{{contact.name}}</h5>
	    <p>{{contact.number}}</p>
	    <p>{{contact.address}}</p>
	    <a ng-href="#/edit/{{contact.id}}">Edit</a>
	  </div>
	  
	  <a href="#/create" class="button">Add a new contact</a>
	</div>
</div>
